.container-formbase {
    border-radius: 20px;
    padding: 70px 47px 49px 47px;
    
}

.container-formBase-actions {
    padding-top: 70px;
    text-align: right;
    
}

.formbase-title {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #263238;
    margin-bottom: 30px;
}

.formbase-buttton{
    border-radius: 10px;
    width: 180px;
    height: 45px;
}