.catalog-products {
    width: 200px;
    height: 240px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;

    .container-product-price {
        margin-top: 10px;
    }
}

.product-name {
    text-align: left;
    padding-top: 10px;
    border-top: 1px solid #E1E1E1;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.015em;
    color: #263238;
    
}

.product-image {
    width: 158px;
    height: 135px;
   
}


