.cardUser-container-base {
    border-radius: 10px;
    padding: 10px 0 10px 20px;
    display: flex;
    align-items: center;
}

.cardUser-title {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #263238;
}