.auth-container{
    display: flex;
    padding: 35px 35px 60px 150px;
    background: url(~core/assets/images/backgroundLogin.svg) no-repeat;
    background-size: 100%;
    height: calc(100vh - 70px);

}

.auth-container-info{
margin-right: 60px;
}

.info-title{
    margin-top: 28px;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: -0.015em;
    color: #263238; 
}

.info-subtitle{
    margin-bottom: 5px;
    font-size: 19px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
}

.auth-container-formulario{
    padding-left: 100px;

}

.image{
    margin: 0;
    padding: 0;
    width: 500px;
    height: 400px;
}

