.category-select__control {
    border: 1px solid #E1E1E1 !important;
    box-sizing: border-box !important;
    border-radius: 10px !important;
    height: 41px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #263238;
}

.category-select__control--is-focused {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

.category-select__indicator-separator {
    display: none;
}

.category-select__placeholder {
    color: #9E9E9E !important;
}


